name: aop qpid-jms test

on:
  pull_request:
    branches:
    - master
    - branch-*
  push:
    branches:
    - master
    - branch-*

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: s4u/maven-settings-action@v2.6.0
      with:
        servers: '[{"id": "ossrh", "username": "${{ secrets.SONATYPE_USERNAME }}",
          "password": "${{ secrets.SONATYPE_PASSWORD }}"}]'
    - name: Login to cloudsmith
      run: docker login -u="${{ secrets.CLOUDSMITH_USERNAME }}" -p="${{ secrets.CLOUDSMITH_API_KEY
        }}" docker.cloudsmith.io
    - uses: s4u/maven-settings-action@v2.6.0
      with:
        servers: '[{"id": "ossrh", "username": "${{ secrets.SONATYPE_USERNAME }}",
          "password": "${{ secrets.SONATYPE_PASSWORD }}"}]'
    - name: Login to cloudsmith
      run: docker login -u="${{ secrets.CLOUDSMITH_USERNAME }}" -p="${{ secrets.CLOUDSMITH_API_KEY
        }}" docker.cloudsmith.io
    - uses: actions/checkout@v1
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8

    - name: clean disk
      if: steps.docs.outputs.changed_only == 'no'
      run: |
        df -h
        sudo swapoff /swapfile
        sudo rm -rf /swapfile /usr/share/dotnet /usr/local/lib/android /opt/ghc
        sudo apt clean
        docker rmi $(docker images -q) -f
        df -h

    - name: License check
      run: mvn license:check

    - name: Build with Maven skipTests
      run: mvn clean install -DskipTests

    - name: Style check
      run: mvn checkstyle:check

    - name: Spotbugs check
      run: mvn spotbugs:check

    - name: test jms_1_1
      run: mvn test -DfailIfNoTests=false -pl tests-qpid-jms-client

    - name: package surefire artifacts
      if: failure()
      run: |
        rm -rf artifacts
        mkdir artifacts
        find . -type d -name "*surefire*" -exec cp --parents -R {} artifacts/ \;
        zip -r artifacts.zip artifacts

    - uses: actions/upload-artifact@master
      name: upload surefire-artifacts
      if: failure()
      with:
        name: surefire-artifacts
        path: artifacts.zip
